h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-size: 12px;
	padding: 2px 4px 0px 10px;
}

p {
	margin: 0;
	font-size: 11px;
	padding: 0px 10px 2px 10px;
}

html {
	background-color: lightblue;
	/*background-image: url("website-pics/waterfall.jpg");
	background-size: contain;
	background-repeat: no-repeat;*/

}
body {
	padding: 10px;
	padding-bottom: 80px;
	/*background-image: url("website-pics/whitestripe.jpeg");
	background-size: ;
	background-repeat: no-repeat;
	background-attachment: ;
	background-position: 30% 20%;*/
}
.top_background {
	background-image: url("website-pics/waterfall.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: ;
	padding: 0px 0px 0px 0px;
	margin: 0;


}
div {

}

header {
	background-image: url("website-pics/red_hexagon.svg");
	background-size: 100%;
	background-position: relative;
}


.logo_words {
}

.logo {
	height: 30px;
	padding: 4px 6px 2px 10px;
}

/* Top bar buttons*/
nav {
 background: black;
}
nav ul {
	padding: 0;
	margin: 0;
}
nav ul li {
	display: inline-block;
}
nav ul li ul {
	display: none;
	position: absolute;
}
nav ul li:hover ul {
	display: block;

}

nav ul li ul li {
	display: block;
}
nav ul li a {
	display: inline-block;
	padding: 2px;
	background: black;
	color: lightblue;
	border: solid 2px transparent;
	text-decoration: none;
	font-family: arial black, sans-serif;
	margin: 1px 0px;
	border-radius: 3px;
	cursor: pointer;
}
nav ul li a:hover {
	background-color: #c0d8e0;
	color: #249cc3;
}

/*Side bar Buttons */

.navside {
	text-align: left;
	display: inline-block;
	max-width: 200px;
}
.navside ul {
	padding: 100px 0 0 0;
	margin: 0;
}
.navside ul li {
	display: inline-block;
	width: 100px;
	margin-right: 0;
}
.navside ul li ul {
	display: none;
	padding: 0px;
	margin-left: 0px;
	position: absolute;
}
.navside ul li:hover ul {
	display: inline-block;
}
.navside ul li ul li {
	display: block;
	width: 200;
	margin: 0;
}
.navside ul li:hover ul li ul {
	display: none;
}
.navside ul li ul li:hover ul {
	display: inline-block;
}
.navside ul li ul li ul li {
	margin-left: 0px;
	width: 250px;
	margin-top: 0px;
}
.navside ul li a {
	display: inline-block;
	padding: 2px;
	background: blue;
	border: solid 4px transparent;
	color: black;
	text-decoration: none;
	font-family: arial black, sans-serif;
	margin: 1px 4px;
	border-radius: 4px;
}
.navside ul li a:hover {
	background: silver;
	color: lightblue;
}

.middle {
	font-size: 20px;
}

footer {
	font-size: 20px;
	position: fixed;
	display: block;
	bottom: 0;
	width: 100%;
	height: 78px;
	background: lightgrey;
	opacity: 0.40;
	text-align: center;
	margin: 0;
}
footer:hover {
	opacity: 0.95;
}

.twitter_pic {
	height: 42px;
	margin-top: 10px;
	margin-bottom: 4px;
	margin-left: 20px;
}

.linkedin_pic {
	height: 50px;
	margin-top: 10px;
	margin-left: 20px;

}

.facebook_pic {
	height: 45px;
	margin-top: 10px;
	margin-bottom: 2px;
	margin-left: 20px;
}

.youtube_pic {
	height: 45px;
	margin-top: 10px;
	margin-bottom: 3px;
	margin-left: 25px;
}

.instagram_pic {
	height: 45px;
	margin-top: 10px;
	margin-bottom: 3px;
	margin-left: 25px;
}


/*resizing*/
@media (max-width: 500px) {
	footer {
		font-resize: 9;
		height: 60px;
	}
}
@media (max-width: 500px) {
	.instagram_pic {
		height: 30px;
		margin-left: 10px;
		margin-top: 4px;
	}
}
@media (max-width: 500px) {
	.youtube_pic {
		height: 30px;
		margin-left: 10px;
		margin-top: 4px;
	}
}
@media (max-width: 500px) {
	.facebook_pic {
		height: 30px;
		margin-left: 10px;
		margin-top: 4px;
	}
}
@media (max-width: 500px) {
	.linkedin_pic {
		height: 35px;
		margin-left: 10px;
		margin-top: 4px;
	}
}
@media (max-width: 500px) {
	.twitter_pic {
		height: 30px;
		margin-left: 10px;
		margin-top: 4px;
	}
}

/* Interactions */


.green {
	background: lightgreen;
	border-color: ;
	color: darkgreen;
}
