body {
	background:lightgrey;
	font-family:sans-serif;
}

/*
	the profile info
*/
div.profile {
	margin:15px;
}
div.profile img {
	height:300px;
}
div.profile h5 {
	margin:0;
	font-size:16px;
	line-height:20px;
}


/*
	the buttons
*/
div.navigation {
}
div.navigation button {
	margin:15px;
	border:solid 2px grey;
	background:lightgrey;
	color:black;
	cursor:pointer;
}
div.navigation button.selected {
	border-color:orange;
	background:lightyellow;
	color:darkorange;
}


/*
	the content
*/
div.about_me > div {
	display:none;
	margin:15px;
	padding:15px;
	background:lightyellow;
	color:darkorange;
	border:solid 2px orange;
}
div.about_me > div.selected {
	display:block;
	background:white;
}